# Python Data Science Toolbox (Part 2)

- William Surles
- 2017-10-17
- Datacamp notes

In [4]:
import pandas as pd

# Using iterators in PythonLand

## Introduction to iterators

#### Iterating with a for loop...

In [9]:
# iterating over a list
employees = ['Nick', 'Lore', 'Hugo']
for employee in employees:
    print(employee)

Nick
Lore
Hugo

In [10]:
# iterating over a string
for letter in 'DataCamp':
    print(letter)

D
a
t
a
C
a
m
p

In [11]:
# Iterating over a range
for i in range(4):
    print(i)

0
1
2
3

- We can loop over these objects because they are iterables in python
- Iterable
 - lists, strings, dictiionaries, file connections
 - An object with an associated `iter()` method
 - Applying `iter()` to an iterable creates an iterator
 - This is what a `for` loop is actually doing under the hood
- Iterator
 - Produces next value with `next()` method

#### A quick example of how `iter()` works...

In [3]:
word = 'Dad'
it = iter(word)
print(next(it))
print(next(it))
print(next(it))

D
a
d

#### Iterating at once with \*
 - Note: this will only work once and then there are not more items to iterator over
 - You will need to redefine `it` to do this again

In [6]:
word = 'Data'
it = iter(word)
print(*it)
print('again?...')
print(*it)

D a t a
again?...

#### Iterating over dictionaries

In [14]:
pythonistas = {'hugo':'browne-anderson', 'francis':'castrp'}

for key, value in pythonistas.items():
    print(key, value)

hugo browne-anderson
francis castrp

#### Iterating over file connections

In [16]:
file = open('simple_file.txt')
it = iter(file)
print(next(it))
print(next(it))
print(next(it))
print(next(it))

This is the first line.

This is the second.

And the third.

Thats all.

### Iterators vs Iterables

In [19]:
flash1 = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

print(flash1)
print(next(flash1))

['jay garrick', 'barry allen', 'wally west', 'bart allen']

TypeError: 'list' object is not an iterator

In [20]:
flash2 = iter(flash1)

print(flash2)
print(next(flash2))
print(next(flash2))

<list_iterator object at 0x107610828>
jay garrick
barry allen

### Iterating over iterables (1)

In [22]:
# Create a list of strings: flash
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

# Print each list item in flash using a for loop
for person in flash:
    print(person)

jay garrick
barry allen
wally west
bart allen

In [23]:
# Create an iterator for flash: superspeed
superspeed = iter(flash)

# Print each item from the iterator
print(next(superspeed))
print(next(superspeed))
print(next(superspeed))
print(next(superspeed))

jay garrick
barry allen
wally west
bart allen

### Iterating over iterables (2)

In [24]:
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

0
1
2

In [25]:
# Loop over range(3) and print the values
for num in range(3):
    print(num)

0
1
2

In [26]:
# Create an iterator for range(10 ** 100): googol
googol = iter(range(10 ** 100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
3
4

### Iterators as function arguments

In [27]:
# Create a range object: values
values = range(10,21)

# Print the range object
print(values)

range(10, 21)

In [28]:
# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [29]:
# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

165

## Playing with iterators

#### Using enumerate()
- `enumerate()` returns an `enumerate` object that produces a sequence of tuples, and each of the tuples is an index-value pair.

In [30]:
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
e = enumerate(avengers)
print(type(e))

e_list = list(e)
print(e_list)

<class 'enumerate'>
[(0, 'hawkeye'), (1, 'iron man'), (2, 'thor'), (3, 'quicksilver')]

#### enumerate() and unpack

In [32]:
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']

for index, value in enumerate(avengers):
    print(index, value)

0 hawkeye
1 iron man
2 thor
3 quicksilver

In [33]:
for index, value in enumerate(avengers, start = 10):
    print(index, value)

10 hawkeye
11 iron man
12 thor
13 quicksilver

#### Using zip()
- `zip()` takes any number of iterables and returns a zip object that is an iterator of tuples. 
 - If you wanted to print the values of a zip object, you can convert it into a list and then print it. 
 - Printing just a zip object will not return the values unless you unpack it first.

In [34]:
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']

z = zip(avengers, names)
print(type(z))

z_list = list(z)
print(z_list)

<class 'zip'>
[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

#### Print zip with \*

In [37]:
z = zip(avengers, names)
print(*z)

('hawkeye', 'barton') ('iron man', 'stark') ('thor', 'odinson') ('quicksilver', 'maximoff')

### Using enumerate

In [39]:
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pride']

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pride')]

In [41]:
# Unpack and print the tuple pairs
for index1, value1 in mutant_list:
    print(index1, value1)

0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pride

In [42]:
# Change the start index
for index2, value2 in enumerate(mutants, start = 1):
    print(index2, value2)

1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pride

### Using zip

In [43]:
mutants = ['charles xavier',
 'bobby drake',
 'kurt wagner',
 'max eisenhardt',
 'kitty pride']
aliases = ['prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat']
powers = ['telepathy',
 'thermokinesis',
 'teleportation',
 'magnetokinesis',
 'intangibility']

# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants, aliases, powers))

# Print the list of tuples
print(mutant_data)

[('charles xavier', 'prof x', 'telepathy'), ('bobby drake', 'iceman', 'thermokinesis'), ('kurt wagner', 'nightcrawler', 'teleportation'), ('max eisenhardt', 'magneto', 'magnetokinesis'), ('kitty pride', 'shadowcat', 'intangibility')]

In [44]:
# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants, aliases, powers)

# Print the zip object
print(mutant_zip)

# Unpack the zip object and print the tuple values
for value1, value2, value3 in mutant_zip:
    print(value1, value2, value3)

<zip object at 0x107625148>
charles xavier prof x telepathy
bobby drake iceman thermokinesis
kurt wagner nightcrawler teleportation
max eisenhardt magneto magnetokinesis
kitty pride shadowcat intangibility

### Using * and zip to 'unzip'

In [49]:
mutants = ('charles xavier',
 'bobby drake',
 'kurt wagner',
 'max eisenhardt',
 'kitty pride')
powers = ('telepathy',
 'thermokinesis',
 'teleportation',
 'magnetokinesis',
 'intangibility')

# Create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# Print the tuples in z1 by unpacking with *
print(*z1)

('charles xavier', 'telepathy') ('bobby drake', 'thermokinesis') ('kurt wagner', 'teleportation') ('max eisenhardt', 'magnetokinesis') ('kitty pride', 'intangibility')

In [50]:
# Re-create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)

print(result1)
print(result2)

# Check if unpacked tuples are equivalent to original tuples
print(result1 == mutants)
print(result2 == powers)

('charles xavier', 'bobby drake', 'kurt wagner', 'max eisenhardt', 'kitty pride')
('telepathy', 'thermokinesis', 'teleportation', 'magnetokinesis', 'intangibility')
True
True

## Using iterators to load large files into memory

- The object created by read_csv is an iterator, so I can iterate over it using a for loop. 
- Each chunk will be a data frame
- we can perform a calculation on this chunk and append to result
- then we can take the sum of result to get the sum of the value for all the chunks.

In [ ]:
result = []

for chunk in pd.read_csv('data.csv', chuncksize = 1000):
    result.append(sum(chunk['x']))

total = sum(result)
print(total)

Another way to do this is to just add the sum total in each iteration

In [ ]:
total = 0

for chunk in pd.read_csv('data.csv', chuncksize = 1000):
    total += sum(chunk['x'])
    
print(total)

### Processing large amounts of Twitter data

In [65]:
tweets_file = 'https://assets.datacamp.com/production/course_1531/datasets/tweets.csv'

# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv(tweets_file, chunksize = 10):

    # Iterate over the column in DataFrame
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

{'en': 97, 'et': 1, 'und': 2}

### Extracting information for large amounts of Twitter data

In [66]:
# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize = c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries(tweets_file, c_size=10, colname='lang')

# Print result_counts
print(result_counts)

{'en': 97, 'et': 1, 'und': 2}

# List comprehensions and generators

## List comprehensions

#### For loops
- For loops are inefficient computationally and in terms of coding time and space.

In [68]:
nums = [12, 8, 21, 3, 16]

In [69]:
new_nums = []

for num in nums:
    new_nums.append(num + 1)

print(new_nums)

[13, 9, 22, 4, 17]

#### List comprehension with list
- Here is the same thing but with a list comprehension

In [71]:
new_nums = [num + 1 for num in nums]

print(new_nums)

[13, 9, 22, 4, 17]

#### List comprehension with `range()`
- You can write a list comprehension over any iterable

In [73]:
result = [num for num in range(11)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### List comprehensions summary
- Collapse for loops for building lists into a single line
- Components
 - Iterable
 - Iterator variable (represent members of iterable)
 - Output expression

result = [`output expression` for `iterator variable` in `iterable`]

#### Nested loops

In [82]:
pairs_1 = []

for num1 in range(0,2):
    for num2 in range(6,8):
        pairs_1.append((num1, num2))

print(pairs_1)

[(0, 6), (0, 7), (1, 6), (1, 7)]

List comprehension equivolent

In [80]:
pairs_2 = [(num1, num2) for num1 in range(0,2) for num2 in range(6,8)]
print(pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]

- Note that list comprehension are not as readable. 
 - They look a lot like the math expressions of a function so in that sense they are readable to mathematicians maybe
 - But its not as easy for everyone to read so consider the context and code audience when using them

### Write a basic list comprehension

In [83]:
# write a list comprehension that takes the first letter of each name

doctor = ['house', 'cuddy', 'chase', 'thirteen', 'wilson']

[doc[0] for doc in doctor]

['h', 'c', 'c', 't', 'w']

### List comprehension over iterables

- List comprehensions can be built over lists, ranges, strings
- It can not be bult over an integer or float

### Writing list comprehensions

In [6]:
# Create list comprehension: squares
squares = [i**2 for i in range(0,10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Nested list comprehensions

In [7]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(0,5)] for row in range(0,5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

## Advanced comprehensions

#### Conditionals on the iterable

In [1]:
[num ** 2 for num in range(10) if num % 2 == 0]

[0, 4, 16, 36, 64]

#### Conditionals on the output expression

In [2]:
[num ** 2 if num % 2 == 0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

#### Dictionary comprehensions

In [4]:
pos_neg = {num:-num for num in range(9)}
print(pos_neg)
print(type(pos_neg))

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}
<class 'dict'>

### Using conditionals in comprehensions (1)

[ `output expression` for `iterator variable` in `iterable` if `predicate expression` ]

In [8]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [ member for member in fellowship if len(member) >= 7 ]

# Print the new list
print(new_fellowship)

['samwise', 'aragorn', 'legolas', 'boromir']

### Using conditionals in comprehensions (2)

In [9]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member if len(member) >=7 else "" for member in fellowship]

# Print the new list
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

### Dict comprehensions

In [10]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create dict comprehension: new_fellowship
new_fellowship = {member:len(member) for member in fellowship}

# Print the new list
print(new_fellowship)

{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

## Introduction to generator expressions

#### Simple generator expression

In [11]:
# This is a list comprehension. It uses []
[2 * num for num in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
# This is a generator expression. It uses ()
(2 * num for num in range(10))

#### List comprehensions vs generators
- List comprehensions return a list
- Generators return a generator object
- Both can be iterated over
- The generator is not stored in memory like a list. 
 - It can be used for lazy evaluation
 - The evaluation of the expression is delayed until the value is needed.

#### Printing values from generators

In [15]:
result = (num for num in range(6))
print(result)

for num in result:
    print(num)

<generator object <genexpr> at 0x103726a40>
0
1
2
3
4
5

In [17]:
result = (num for num in range(6))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

0
1
2
3

#### Generators for large seqences

In [19]:
# This would never work for a list because this list is too big to be stored in memory
(num for num in range(10*1000000))

#### Conditionals in generator expressions
- Anything you can do with a list (filters and conditionals) we can do in a generator expression

In [20]:
even_nums = (num for num in range(10) if num % 2 == 0)
print(list(even_nums))

[0, 2, 4, 6, 8]

#### Generator functions
- These are functions that when called produce generator objects
- They are defined like any other user defined function
 - Except they use `yield` instead of `return`

In [21]:
# A simple generator function to create a list of numbers
def num_sequence(n):
    """Generate values fro 0 to n"""
    i = 0
    while i < n:
        yield i
        i +=1

#### Use a generator function

In [26]:
# See, it makes a generator if we call it. 
num_sequence(5)

In [27]:
# We can create a list with this generator
list(num_sequence(5))

[0, 1, 2, 3, 4]

In [28]:
# or step through it and print out the numbers
nums = num_sequence(6)

for num in nums:
    print(num)

0
1
2
3
4
5

### Write your own generator expressions

In [30]:
# Create generator object: result
result = (num for num in range(10))

# Print the first 5 values
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

# Print the rest of the values
for value in result:
    print(value)

0
1
2
3
4
5
6
7
8
9

### Changing the output in generator expressions

In [31]:
# Create a list of strings: lannister
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Create a generator object: lengths
lengths = (len(person) for person in lannister)

# Iterate over and print the values in lengths
for value in lengths:
    print(value)

6
5
5
6
7

### Build a generator

In [32]:
# Create a list of strings
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)
        

# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

## Wrapping up comprehensions and generators.

### List comprehensions for time-stamped data

In [7]:
tweets_df = pd.read_csv('https://assets.datacamp.com/production/course_1531/datasets/tweets.csv')

# Extract the created_at column from df: tweet_time
tweet_time = tweets_df['created_at']

type(tweet_time)

pandas.core.series.Series

In [8]:
# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time]

# Print the extracted times
print(tweet_clock_time)

['23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

### Conditional list comprehensions for time-stamped data

In [9]:
# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time if entry[17:19] == '19']

# Print the extracted times
print(tweet_clock_time)

['23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

# Bringing it all together!

## Welcome to the case study!

### Dictionaries for data science

- First I need to load the world bank data. 
- It is already in a pandas dataframe when loading with `read_csv`
- But for the exercises I need to pull out the data into list so we can reconstruct the dataframe. sigh.

In [11]:
df_wb = pd.read_csv('https://assets.datacamp.com/production/course_1531/datasets/world_ind_pop_data.csv')
print(type(df_wb))
print(df_wb.head())

<class 'pandas.core.frame.DataFrame'>
                               CountryName CountryCode  Year  \
0                               Arab World         ARB  1960
1                   Caribbean small states         CSS  1960
2           Central Europe and the Baltics         CEB  1960
3  East Asia & Pacific (all income levels)         EAS  1960
4    East Asia & Pacific (developing only)         EAP  1960

   Total Population  Urban population (% of total)
0      9.249590e+07                      31.285384
1      4.190810e+06                      31.597490
2      9.140158e+07                      44.507921
3      1.042475e+09                      22.471132
4      8.964930e+08                      16.917679

In [20]:
feature_names = list(df_wb)
feature_names

['CountryName',
 'CountryCode',
 'Year',
 'Total Population',
 'Urban population (% of total)']

In [21]:
row_vals = list(df_wb.iloc[0,:])
row_vals

['Arab World', 'ARB', 1960, 92495902.0, 31.285384211605397]

In [22]:
# Zip lists: zipped_lists
zipped_lists = zip(feature_names, row_vals)
type(zipped_lists)

# Create a dictionary: rs_dict
rs_dict = dict(zipped_lists)
type(rs_dict)

# Print the dictionary
print(rs_dict)

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'Year': 1960, 'Total Population': 92495902.0, 'Urban population (% of total)': 31.285384211605397}

### Writing a function to help you

In [23]:
# Define lists2dict()
def lists2dict(list1, list2):
    """Return a dictionary where list1 provides
    the keys and list2 provides the values."""

    # Zip lists: zipped_lists
    zipped_lists = zip(list1, list2)

    # Create a dictionary: rs_dict
    rs_dict = dict(zipped_lists)

    # Return the dictionary
    return rs_dict

# Call lists2dict: rs_fxn
rs_fxn = lists2dict(feature_names, row_vals)

# Print rs_fxn
print(rs_fxn)

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'Year': 1960, 'Total Population': 92495902.0, 'Urban population (% of total)': 31.285384211605397}

### Using a list comprehension

- okay, here I actually need all the rows in a list of lists, hmmmmm.

In [30]:
row_lists = df_wb.values.tolist()

print(row_lists[0])
print(row_lists[1])

['Arab World', 'ARB', 1960, 92495902.0, 31.285384211605397]
['Caribbean small states', 'CSS', 1960, 4190810.0, 31.5974898513652]

In [32]:
# Turn list of lists into list of dicts: list_of_dicts
list_of_dicts = [lists2dict(feature_names, sublist) for sublist in row_lists]

# Print the first two dictionaries in list_of_dicts
print(list_of_dicts[0])
print(list_of_dicts[1])

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'Year': 1960, 'Total Population': 92495902.0, 'Urban population (% of total)': 31.285384211605397}
{'CountryName': 'Caribbean small states', 'CountryCode': 'CSS', 'Year': 1960, 'Total Population': 4190810.0, 'Urban population (% of total)': 31.5974898513652}

### Turning this all into a DataFrame

In [34]:
# Turn list of lists into list of dicts: list_of_dicts
list_of_dicts = [lists2dict(feature_names, sublist) for sublist in row_lists]

# Turn list of dicts into a DataFrame: df
df = pd.DataFrame(list_of_dicts)

print(type(df))

# Print the head of the DataFrame
print(df.head())

<class 'pandas.core.frame.DataFrame'>
  CountryCode                              CountryName  Total Population  \
0         ARB                               Arab World      9.249590e+07
1         CSS                   Caribbean small states      4.190810e+06
2         CEB           Central Europe and the Baltics      9.140158e+07
3         EAS  East Asia & Pacific (all income levels)      1.042475e+09
4         EAP    East Asia & Pacific (developing only)      8.964930e+08

   Urban population (% of total)  Year
0                      31.285384  1960
1                      31.597490  1960
2                      44.507921  1960
3                      22.471132  1960
4                      16.917679  1960

## Using Python generators for streaming data

### Processing data in chunks (1)

- Sometimes, data sources can be so large in size that storing the entire dataset in memory becomes too resource-intensive. 
- In this exercise, you will process the first 1000 rows of a file line by line, to create a dictionary of the counts of how many times each country appears in a column in the dataset.

### Writing a generator to load data in chunks (2)

### Writing a generator to load data in chunks (3)

## Using pandas read_csv iterator for streaming data

### Writing an iterator to load data in chunks (1)

### Writing an iterator to load data in chunks (2)

### Writing an iterator to load data in chunks (3)

### Writing an iterator to load data in chunks (4)

### Writing an iterator to load data in chunks (5)

## Final thoughts